.form_container {
    flex-grow: 1;
}

.signup_form {
    width: 400px;
    height: fit-content;
    margin: 175px auto;
    display: block;
    padding: 25px;
    box-shadow: rgb(218, 166, 88, .2) 0px 2px 8px 0px;
}

.signup_form h1 {
    margin-bottom: 50px;
    text-align: center;
    color: lightgray;
}

.signup_form input {
    width: 85%;
    height: 40px;
    margin: 5px auto;
    display: block;
    padding-left: 50px;
    border: 2px solid rgb(218, 166, 88, .25);
    font-size: medium;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

.signup_form input:focus {
    border: 2px solid #DAA657;
    outline: #DAA657;
}

.signup_form button {
    width: 100%;
    margin: 30px auto 30px auto;
    display: block;
    padding: 10px;
    border: 2px solid #DAA657;
    border-radius: 0;
    font-size: large;
    color: #1E1E1E;
    background-color: #DAA657;
    cursor: pointer;
    transition: .2s;
}

.signup_form button:hover {
    color: #DAA657;
    background-color: transparent;
}

.signup_form p {
    margin: auto auto 15px 10px;
}

.signup_form a {
    color: #DAA657;
}

.signup_form a:hover {
    color: white;
}

#user_name {
    margin-bottom: 5px;
    background: url('/static/images/user1.svg') transparent no-repeat 15px center;
}

#user_email {
    margin-top: 15px;
    background: url('/static/images/mail.svg') transparent no-repeat 15px center;
}

#user_pwd {
    margin-top: 15px;
    background: url('/static/images/lock.svg') transparent no-repeat 15px center;
}

.verification_error {
    text-align: center;
    color: rgb(248, 88, 88, .75);
}

.error_message {
    width: fit-content;
    display: inline;
    color: rgb(248, 88, 88, .75);
}

.forgot_link {
    float: right;
    margin-bottom: 25px;
}

.signup_link {
    color: lightgray;
}

@media (max-width: 425px) {
    .signup_form {
        width: 95%;
        margin: 75px auto;
        padding: 0;
        padding-top: 25px;
        padding-bottom: 25px;
        box-shadow: none;
    }

    .signup_form input {
        width: 75%;
        margin: 5px auto;
        padding-left: 50px;
    }

    .signup_form a {
        padding-right: 5%;
    }

    .signup_form button {
        width: 90%;
    }

    .signup_form p {
        padding-left: 5%;
    }
}