.collection_container {
    width: 80%;
    margin: auto;
}

.search_container {
    width: 45%;
    margin: 225px auto 110px auto;
    /* display: grid; */
    /* grid-template-columns: auto;
    column-gap: 10px; */
    transition: .3s;
    position: relative;
    z-index: 1;
}

@media (max-width: 1440px) {
    .search_container {
        width: 60%;
    }
}

@media (max-width: 1024px) {
    .search_container {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .search_container {
        width: 85%;
    }
}

@media (max-width: 425px) {
    .search_container {
        width: 100%;
        margin: 150px auto;
        /* grid-template-columns: auto 50px; */
    }
}