.load_btn {
    width: 200px;
    height: 50px;
    margin: 100px auto;
    display: block;
    border: 2px solid #DAA657;
    text-transform: uppercase;
    color: #1E1E1E;
    background-color: #DAA657;
    cursor: pointer;
    transition: .2s;
}

.load_btn:hover {
    color: #DAA657;
    background-color: transparent;
}

.hide_btn {
    display: none;
}