.container {
    width: 100%;
    aspect-ratio: 3 / 5;
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    transition: .4s;
}

.container_spacing {
    margin: 20px;
}

.image_wrapper {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    transition: .4s;
    text-align: center;
    filter: brightness(80%);
}

.image_wrapper img {
    width: auto;
    height: 115%;
    margin: auto auto auto -25%;
    transition: .4s;
}

.container:hover img {
    transform: scale(1.05);
}

.container:hover .image_wrapper {
    filter: brightness(100%);
}

.drink_text {
    width: 100%;
    height: 25%;
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: 0;
    padding-top: 5%;
    text-align: center;
    text-transform: capitalize;
    background-image: linear-gradient(to top, #182C36, rgba(0, 0, 0, 0));
    transition: .4s;
}

.drink_text h3 {
    width: 90%;
    height: 50%;
    margin: auto auto 0 auto;
    display: block;
    text-wrap: wrap;
    overflow: hidden;
    white-space: normal;
    font-size: 1.25vw;
    font-weight: normal;
    transition: .6s;
    color: #E8DDD4;
}

.container h4 {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 5% 0 5% 0;
    font-size: 1.25vw;
    font-weight: normal;
    transition: .8s;
    color: #DAA657;
}

@media (max-width: 1440px) {
    .drink_text h3 {
        font-size: 1.5vw;
    }

    .drink_text h4 {
        font-size: 1.5vw;
    }
}

@media (max-width: 768px) {
    .drink_text h3 {
        font-size: 2.15vw;
    }

    .drink_text h4 {
        font-size: 2.15vw;
    }
}

@media (max-width: 425px) {
    .drink_text h3 {
        font-size: 3vw;
    }

    .drink_text h4 {
        font-size: 3vw;
    }
}