.container {
    width: 100%;
    aspect-ratio: 3 / 5;
    display: inline-block;
    position: relative;
    text-align: center;
    cursor: pointer;
    transition: .3s;
    box-shadow: rgba(255, 255, 255, 0.02) 0px 1px 3px 0px, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px;
}

.container_spacing {
    margin: 20px;
}

.image_wrapper {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    transition: .3s;
    text-align: center;
    filter: brightness(75%);
}

.container:hover img {
    transform: scale(1.05);
}

.container:hover .image_wrapper {
    filter: brightness(100%);
}

.drink_text {
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 0;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-image: linear-gradient(to top, #181818, rgba(0, 0, 0, 0));
}

.drink_text span {
    display: flex;
}

.drink_text h3 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-self: flex-end;
    text-wrap: wrap;
    white-space: normal;
    font-size: 1.5vw;
    font-weight: normal;
}

.drink_text h4 {
    font-size: 1.5vw;
    font-weight: normal;
    color: #DB8953;
}

/* @media (max-width: 768px) {
    .container {
        width: 225px;
        height: 400px;
    }
}

@media (max-width: 320px) {
    .container_spacing {
        margin: 15px;
    }
} */

@media (max-width: 1024px) {
    .drink_text h3 {
        font-size: 1.75vw;
    }

    .drink_text h4 {
        font-size: 1.75vw;
    }
}

@media (max-width: 768px) {
    .drink_text h3 {
        font-size: 2.5vw;
    }

    .drink_text h4 {
        font-size: 2.5vw;
    }
}

@media (max-width: 425px) {
    .drink_text h3 {
        font-size: 3.5vw;
    }

    .drink_text h4 {
        font-size: 3.5vw;
    }
}