footer {
    width: 100%;
    margin-top: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(219, 137, 83, .85);
}

footer a {
    color: #181818;
    padding: 25px;
    text-decoration: none;
    font-size: 1.25rem;
    text-align: center;
}

footer a:hover {
    color: white;
}

@media (max-width: 500px) {
    footer a {
        padding: 12.5px;
        font-size: small;
    }
}

@media (max-width: 300px) {
    footer {
        padding-top: 15px;
        padding-bottom: 15px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        column-gap: 5px;
        row-gap: 5px;
    }

    footer a {
        text-align: left;
    }
}