footer {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: #182C36;
}

footer a {
    color: #E8DDD4;
    padding: 25px;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
}

footer a:hover {
    color: #DAA657;
}

@media (max-width: 500px) {
    footer a {
        padding: 12.5px;
    }
}

@media (max-width: 320px) {
    footer {
        padding-top: 15px;
        padding-bottom: 15px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        column-gap: 5px;
        row-gap: 5px;
    }

    footer a {
        text-align: left;
    }
}