#navbar {
    width: 100%;
    height: 75px;
    top: 0;
    position: relative;
    z-index: 3;
}

.brand {
    width: 25rem;
    float: left;
    margin: 5px auto auto 50px;
    transition: .3s;
    align-items: center;
}

.brand hr {
    width: 70%;
    margin: auto;
    display: block;
    border: 1px solid #DB8953;
    opacity: 1;
}

.brand h1 {
    display: inline-block;
    margin: auto;
    font-size: 1.75rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: #DB8953;
    transition: .3s;
}

.brand h1 span {
    color: whitesmoke;
}

.brand_img {
    width: 60px;
    height: auto;
    margin-bottom: -15px;
    display: inline-block;
}

.topbar_links {
    width: fit-content;
    height: fit-content;
    float: right;
    margin: 25px 50px auto auto;
    display: block;
}

.topbar-links span {
    width: 50px;
    height: 25px;
    margin-left: 25px;
    background-color: rgb(230, 230, 230);
}

.topbar_links li {
    width: fit-content;
    height: max-content;
    display: inline-block;
    vertical-align: middle;
    margin-left: 50px;
    list-style-type: none;
    text-align: center;
    align-items: center;
}

.topbar_links a {
    display: block;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    font-size: 1.25rem;
    color: white;
    transition: .2s;
    cursor: pointer;
}

.topbar_links a:hover {
    border-bottom: 2px solid #DB8953;
}

.login_btn {
    padding: 10px;
    padding-left: 45px;
    padding-right: 45px;
    border: 2px solid #DB8953;
    font-size: 1.25rem;
    color: #DB8953;
    background-color: transparent;
    cursor: pointer;
    transition: .3s;
}

.login_btn:hover {
    color: #181818;
    background-color: #DB8953;
}

.logout_btn {
    width: 70px;
    height: 30px;
    margin-left: -25px;
    border: none;
    display: block;
    background: url("/static/images/logout.svg") no-repeat transparent center center;
    border-left: 2px solid #DB8953;
    cursor: pointer;
    transition: .2s;
}

.logout_btn:hover {
    background: url("/static/images/logout3.svg") no-repeat transparent center center;
}


.toggler {
    width: fit-content;
    height: 65px;
    margin: 8px 10px auto auto;
    top: 0;
    right: 20px;
    display: block;
    position: absolute;
    border: none;
    z-index: 3;
    background-color: transparent;
    cursor: pointer;
}

.toggler span {
    width: 50px;
    height: 10px;
    margin: 6px auto;
    display: block;
    border-radius: 2px;
    background-color: #DB8953;
    transition: .2s;
}

.toggle_animation span:nth-child(1) {
    margin-bottom: -10px;
    transform: rotate(45deg);
}

.toggle_animation span:nth-child(2) {
    margin: auto;
    width: 0px;
    height: 0px;
}

.toggle_animation span:nth-child(3) {
    margin-top: -10px;
    transform: rotate(-45deg);
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    backdrop-filter: blur(5px);
    transition: .2s;
}

@media (min-width: 1220px) {
    .toggler {
        display: none;
    }

    .overlay {
        display: none;
    }
}

@media (max-width: 1220px) {
    .navbar {
        padding-left: 0;
        padding-right: 0;
    }

    .brand {
        margin-left: 20px;
    }

    .topbar_links {
        width: 50%;
        height: 100vh;
        margin: 0;
        right: -50%;
        display: block;
        position: fixed;
        z-index: 3;
        overflow: hidden;
        padding: 150px 0 0 0;
        background-color: #181818;
        transition: .2s;
    }

    .topbar_links li {
        width: 100%;
        height: 60px;
        margin: 0;
        display: block;
    }

    .topbar_links a {
        width: 80%;
        margin: auto;
        padding: 25px 0 25px 20%;
        padding-top: 25px;
        padding-bottom: 25px;
        line-height: 50%;
        text-align: left;
        color: #DB8953;
    }

    .topbar_links a:hover {
        color: #181818;
        background-color: #DB8953;
    }

    .login_btn {
        height: 100%;
        margin: 50px auto auto 20%;
        float: left;
        font-size: 1.25rem;
    }

    .logout_btn::before {
        content: "Logout";
        font-size: 1.25rem;
    }

    .logout_btn {
        width: 100%;
        height: 100%;
        float: right;
        margin: 50px 0 0 0;
        padding: 0;
        padding-left: 20%;
        border-left: none;
        text-align: left;
        background: none;
        color: #DB8953;
    }

    .logout_btn:hover {
        background: none;
        color: #181818;
        background-color: #DB8953;
    }

    .toggler {
        display: block;
    }

    .overlay {
        display: block;
    }
}

@media (max-width: 768px) {
    .brand h1 {
        display: none;
    }

    .brand_img {
        margin: 5px auto;
    }
}

@media (max-width: 425px) {
    .brand {
        width: 12rem;
    }

    .topbar_links {
        width: 100%;
        right: -100%;
    }

    .topbar_links a {
        padding-left: 30%;
    }

    .login_btn {
        margin: 50px auto auto 30%;
    }

    .logout_btn {
        padding-left: 30%;
    }
}