#navbar {
    width: 100%;
    height: 50px;
    top: 0;
    position: absolute;
    z-index: 3;
}

.brand {
    width: 25rem;
    float: left;
    margin: 5px auto auto 50px;
    transition: .4s;
    align-items: center;
}

.brand h1 {
    display: inline-block;
    margin: auto;
    font-size: 1.75rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: #DAA657;
}

.brand h1 span {
    color: white;
}

.brand_img {
    width: 60px;
    height: auto;
    margin-bottom: -15px;
    display: inline-block;
}

.topbar_links {
    width: fit-content;
    height: 100%;
    float: right;
    margin: 25px 50px auto auto;
    display: block;
}

.topbar_links li {
    width: fit-content;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    margin-left: 50px;
    list-style-type: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.topbar_links li:nth-of-type(-n+5) {
    color: white;
}

.topbar_links a {
    width: 100%;
    height: 100%;
    font-size: 1.25rem;
    transition: .4s;
}

.topbar_links li span {
    width: 100px;
    height: 25px;
    display: block;
    margin-top: 10px;
    background-color: rgb(230, 230, 230, .25);
}

.login_btn {
    width: 150px;
    margin-top: -10px;
    display: block;
    position: relative;
    padding: 10px 0 10px 0;
    border: 2px solid #DAA657;
    font-size: 1.25rem;
    color: #DAA657;
    background-color: transparent;
    cursor: pointer;
    transition: .4s;
}

.login_btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: #DAA657;
    transform: scaleX(0);
    transform-origin: 0;
    transition: transform .4s ease-out;
}

.login_btn:hover::before {
    transform: scaleX(1);
}

.login_btn:hover {
    color: #1E1E1E;
}

.logout_btn {
    width: 70px;
    height: 30px;
    margin-left: -25px;
    border: none;
    display: block;
    border-left: 2px solid #DAA657;
    cursor: pointer;
    transition: .2s;
    transform: perspective(1px) translateZ(0);
}

.toggler {
    width: fit-content;
    height: 65px;
    margin: 8px auto auto auto;
    top: 0;
    right: 20px;
    display: block;
    position: absolute;
    border: none;
    z-index: 3;
    background-color: transparent;
    cursor: pointer;
}

.toggler span {
    width: 50px;
    height: 10px;
    margin: 6px auto;
    display: block;
    border-radius: 2px;
    background-color: #DAA657;
    transition: .2s;
}

.toggle_animation span:nth-child(1) {
    margin-bottom: -10px;
    transform: rotate(45deg);
}

.toggle_animation span:nth-child(2) {
    margin: auto;
    width: 0px;
    height: 0px;
}

.toggle_animation span:nth-child(3) {
    margin-top: -10px;
    transform: rotate(-45deg);
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    backdrop-filter: blur(5px);
    transition: .2s;
}

@media (min-width: 1220px) {
    .toggler {
        display: none;
    }

    .overlay {
        display: none;
    }

    .topbar_links li:nth-of-type(-n+4) a:after {
        width: 0;
        height: 2px;
        content: "";
        margin-top: 10px;
        display: block;
        transition: width 0.4s ease 0s, left 0.4s ease 0s;
        background: #DAA657;
    }

    .topbar_links li:nth-of-type(-n+4):hover a:after {
        width: 100%;
    }

    .logout_btn {
        background: url("/static/images/logout.svg") no-repeat transparent center center;
    }

    .logout_btn:hover {
        background: url("/static/images/logout3.svg") no-repeat transparent center center;
    }
}

@media (max-width: 1220px) {
    .navbar {
        padding-left: 0;
        padding-right: 0;
    }

    .brand {
        margin-left: 20px;
    }

    .topbar_links {
        width: 50%;
        height: 100vh;
        margin: 0;
        right: -50%;
        display: block;
        position: fixed;
        z-index: 3;
        overflow: hidden;
        padding: 150px 0 0 0;
        background-color: #1E1E1E;
        transition: .2s;
    }

    .topbar_links li {
        width: 100%;
        height: fit-content;
        margin: 10px auto;
        display: block;
    }

    .topbar_links a {
        width: 150px;
        padding: 25px 0 25px 20%;
        display: block;
        position: relative;
        line-height: 50%;
        text-align: left;
        color: #DAA657;
    }

    .topbar_links li:nth-of-type(-n+4) a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: #DAA657;
        transform: scaleX(0);
        transform-origin: 0;
        transition: transform .4s ease-out;
    }

    .topbar_links li:nth-of-type(-n+4) a:hover::before {
        transform: scaleX(1);
    }

    .topbar_links li:nth-of-type(-n+4) a:hover {
        color: #1E1E1E;
    }

    .topbar_links li span {
        margin-left: 20%;
    }

    .login_btn {
        width: 150px;
        margin: 0;
        padding: 20px 150px 20px 20%;
        float: left;
        border: none;
        font-size: 1.25rem;
    }

    .logout_btn {
        width: 150px;
        height: auto;
        margin: 0;
        padding: 20px 150px 20px 20%;
        display: block;
        position: relative;
        border: none;
        color: #DAA657;
        background-color: transparent;
        background: none;
        cursor: pointer;
        transition: .4s;
    }

    .logout_btn::before {
        content: "Logout";
        font-size: 1.25rem;
    }

    .logout_btn::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: #DAA657;
        transform: scaleX(0);
        transform-origin: 0;
        transition: transform .4s ease-out;
    }

    .logout_btn:hover::after {
        transform: scaleX(1);
    }

    .logout_btn:hover {
        color: #1E1E1E;
    }

    .toggler {
        display: block;
    }

    .overlay {
        display: block;
    }
}

@media (max-width: 768px) {
    .brand h1 {
        display: none;
    }

    .brand_img {
        margin: 5px auto;
    }
}

@media (max-width: 425px) {
    .brand {
        width: 12rem;
    }

    .topbar_links {
        width: 100%;
        right: -100%;
    }
}