.home_container {
    width: 100vw;
    height: fit-content;
    top: 0;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100vh;
}

.background {
    width: 50vw;
    height: 100vh;
    display: block;
    top: 0;
    right: 0;
    position: absolute;
    background: url('../public/static/images/home1.jpg') no-repeat transparent center center / cover;
}

.intro_text {
    width: 40vw;
    height: 50vh;
    padding: 20vh 0vw 30vh 10vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    display: block;
    background-color: #182C36;
}

.intro_text h1 {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #DAA657;
    outline: none;
}

.intro_text p {
    width: 85%;
    font-size: 1.25rem;
    word-spacing: 5px;
    line-height: 135%;
    color: white;
}

.popular_list {
    width: 80%;
    height: fit-content;
    margin: 50px auto;
    position: relative;
    text-align: center;
    overflow: hidden;
    display: grid;
    grid-template-columns: 50px auto 50px;
    column-gap: 1%;
}

.popular_list h1 {
    width: 100%;
    margin: auto;
    grid-area: 1 / 1 / span 1 / span 1;
    text-transform: capitalize;
    font-size: 2.25rem;
    text-align: left;
    color: #DAA657;
}

.popular_list h1 span {
    padding: 15px;
}

.popular_list a {
    grid-area: 1 / 2 / span 1 / span 2;
    margin: auto 5% auto auto;
    text-align: right;
    color: white;
}

.popular_list a:hover {
    color: #DAA657;
}

.popular_list a:after {
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 2px;
    background: #fff;
    transition: width 0.5s ease 0s, left 0.5s ease 0s;
    width: 0;
}

.popular_list a:hover:after {
    width: 100%;
}

.popular_list button {
    margin: auto;
}

@media (max-width: 1440px) {
    .intro_text h1 {
        font-size: 3.75rem;
    }
}

@media (max-width: 1024px) {
    .intro_text {
        padding: 15vh 0vw 35vh 10vw;
        background-color: rgb(24, 43, 53, .75);
        backdrop-filter: blur(50px);
    }

    .intro_text h1 {
        font-size: 3rem;
    }

    .intro_text p {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .background {
        height: 100vh;
        background: url('../public/static/images/home1.jpg') no-repeat transparent center center / cover;
    }

    .intro_text {
        width: 100vw;
        background-color: rgb(24, 43, 53, .75);
        backdrop-filter: blur(5px);
    }

    .intro_text h1 {
        font-size: 3rem;
    }

    .popular_list {
        width: 95%;
        grid-template-columns: 100%;
    }

    .popular_list h1 {
        grid-area: 1 / 1 / span 1 / span 2;
    }

    .popular_list button {
        display: none;
    }
}

@media (max-width: 425px) {
    .intro_text h1 {
        font-size: 10vw;
    }

    .popular_list {
        width: 100%;
    }

    .popular_list h1 {
        margin-left: 5%;
    }
}